<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ff871">  <td>18/07/20 12:17:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddToBagTest.setup(java.lang.String)[pri:0, instance:ae.nisnass.addtobag.tests.AddToBagTest@ea6147e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@739973450</td>   <td></td> </tr>
<tr bgcolor="8ff871">  <td>18/07/20 12:17:58</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToBagTest.addToBag1()[pri:0, instance:ae.nisnass.addtobag.tests.AddToBagTest@ea6147e]">addToBag1</td> 
  <td>main@739973450</td>   <td></td> </tr>
<tr bgcolor="8ff871">  <td>18/07/20 12:17:58</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToBagTest.addToBag(java.lang.String, java.util.List)[pri:0, instance:ae.nisnass.addtobag.tests.AddToBagTest@ea6147e]">addToBag</td> 
  <td>main@739973450</td>   <td></td> </tr>
<tr bgcolor="8ff871">  <td>18/07/20 12:17:58</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToBagTest.addToBag(java.lang.String, java.util.List)[pri:0, instance:ae.nisnass.addtobag.tests.AddToBagTest@ea6147e]">addToBag</td> 
  <td>main@739973450</td>   <td></td> </tr>
<tr bgcolor="8ff871">  <td>18/07/20 12:17:58</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToBagTest.addToBag(java.lang.String, java.util.List)[pri:0, instance:ae.nisnass.addtobag.tests.AddToBagTest@ea6147e]">addToBag</td> 
  <td>main@739973450</td>   <td></td> </tr>
</table>
