<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ae.nisnass.signup.tests.SignUpFormFieldsTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateExisitingAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidateNames</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateAreaCode</td>
<td>signup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateEmptyValue</td>
<td>signup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValiateIfFieldsAreEnabled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEmptyPhoneNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidateNegativeCasesForEmailAndPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEmailAndPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateTermsCondition</td>
<td>signup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateThatPhoneNumberAcceptsOnlyNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateCheckbox</td>
<td>signup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateNegativeCasesForNames</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
