<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>signup</td><td>SignUpFormFieldsTests.validateTermsCondition()[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]<br/>SignUpFormFieldsTests.validateAreaCode()[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]<br/>SignUpFormFieldsTests.validateEmptyValue()[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]<br/>SignUpFormFieldsTests.validateCheckbox()[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]<br/></td></tr>
</table>
