<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValiateIfFieldsAreEnabled()[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValiateIfFieldsAreEnabled</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateEmailAndPassword(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateEmailAndPassword</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateEmailAndPassword(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateEmailAndPassword</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateEmailAndPassword(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateEmailAndPassword</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateEmailAndPassword(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateEmailAndPassword</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateEmptyPhoneNumber(java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateEmptyPhoneNumber</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateEmptyPhoneNumber(java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateEmptyPhoneNumber</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateEmptyPhoneNumber(java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateEmptyPhoneNumber</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNames(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNames(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNames(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNames(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNames(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNames(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNames(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNegativeCasesForEmailAndPassword(java.lang.String, java.util.ArrayList)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNegativeCasesForEmailAndPassword</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNegativeCasesForEmailAndPassword(java.lang.String, java.util.ArrayList)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNegativeCasesForEmailAndPassword</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNegativeCasesForEmailAndPassword(java.lang.String, java.util.ArrayList)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNegativeCasesForEmailAndPassword</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNegativeCasesForEmailAndPassword(java.lang.String, java.util.ArrayList)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNegativeCasesForEmailAndPassword</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNegativeCasesForNames(java.lang.String, java.util.ArrayList)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNegativeCasesForNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNegativeCasesForNames(java.lang.String, java.util.ArrayList)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNegativeCasesForNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNegativeCasesForNames(java.lang.String, java.util.ArrayList)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNegativeCasesForNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateNegativeCasesForNames(java.lang.String, java.util.ArrayList)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateNegativeCasesForNames</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateThatPhoneNumberAcceptsOnlyNumber(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateThatPhoneNumberAcceptsOnlyNumber</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateThatPhoneNumberAcceptsOnlyNumber(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateThatPhoneNumberAcceptsOnlyNumber</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateThatPhoneNumberAcceptsOnlyNumber(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateThatPhoneNumberAcceptsOnlyNumber</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateThatPhoneNumberAcceptsOnlyNumber(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateThatPhoneNumberAcceptsOnlyNumber</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateThatPhoneNumberAcceptsOnlyNumber(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateThatPhoneNumberAcceptsOnlyNumber</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.ValidateThatPhoneNumberAcceptsOnlyNumber(java.lang.String, java.lang.String)[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">ValidateThatPhoneNumberAcceptsOnlyNumber</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.validateAreaCode()[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">validateAreaCode</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.validateCheckbox()[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">validateCheckbox</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.validateEmptyValue()[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">validateEmptyValue</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.validateExisitingAccount()[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">validateExisitingAccount</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>18/07/21 17:02:40</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFormFieldsTests.validateTermsCondition()[pri:0, instance:ae.nisnass.signup.tests.SignUpFormFieldsTests@6cd28fa7]">validateTermsCondition</td> 
  <td>TestNG-tests-1@1268101614</td>   <td></td> </tr>
</table>
